@charset "UTF-8";
/* 公共部分 */
.public {
  margin: 0 auto;
  width: 1102px;
}

body {
  background-color: #fff;
}

/* 顶部 */
#top_all {
  height: 31px;
  background-color: #000;
  border-bottom: 1px solid #ededee;
}

.top {
  height: 31px;
}

.topLeft {
  float: left;
}

.topLeft li {
  float: left;
  line-height: 31px;
}

.topLeft ul li:first-child {
  margin-right: 24px;
  margin-left: 6px;
}

.topLeft ul li:nth-child(3) {
  margin: 0 28px;
}

.topLeft li a {
  color: #999999;
}

.topRight {
  float: right;
  line-height: 31px;
}

.topRight li {
  float: left;
  position: relative;
}

.topRight li a {
  color: #999;
}

.topRight ul li:nth-child(2) {
  margin-left: 25px;
  margin-right: 34px;
}

.topRight ul li:nth-child(4) {
  margin-left: 39px;
  margin-right: 45px;
}

.topRight ul li:nth-child(6) {
  margin-left: 48px;
  margin-right: 45px;
}

.topRight ul li:last-child {
  margin-right: 30px;
}

.topRight ul li img {
  position: absolute;
  top: 13px;
  left: 51px;
}

.topRight ul li .liimg1 {
  left: 62px;
}

.topRight ul li .liimg2 {
  left: 27px;
}

/* logo板块 */
#logo_all {
  height: 140px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.logo {
  height: 140px;
  position: relative;
}

.log {
  float: left;
  margin-left: 5px;
  margin-right: 130px;
}

.log img {
  margin-top: 20px;
}

/* 中间搜索框 */
.input {
  height: 36px;
  width: 500px;
  border: 2px solid red;
  float: left;
  margin-top: 33px;
  line-height: 36px;
  border-radius: 14px;
  background-color: #fff;
  margin-bottom: 12px;
}

.input p {
  width: 440px;
  float: left;
}

.input p #inp {
  height: 34px;
  width: 400px;
  border: 0;
}

.input p label {
  border: 0;
}

.input p label img {
  margin-top: 12px;
  margin-left: 9px;
  margin-right: 7px;
}

.input h2 {
  width: 60px;
  float: right;
  border-radius: 12px;
  height: 36px;
  background: red url(../images/4_03.jpg) no-repeat center;
}

/* 购物车 */
.shoppingCar {
  width: 107px;
  height: 36px;
  border: 2px solid red;
  float: right;
  margin-right: 85px;
  margin-top: 33px;
  border-radius: 17px;
}

.shoppingCar img {
  margin-top: 8px;
  margin-left: 18px;
}

.shoppingCar a {
  color: #000;
  font-weight: 900;
  line-height: 36px;
}

/* 导航1 */
.nav1 {
  float: left;
  height: 14px;
  margin-top: 29px;
  margin-left: 216px;
}

.nav1 ul li {
  float: left;
  margin-right: 41px;
}

.nav1 ul li a {
  font-weight: 900;
  color: #000;
  font-size: 14px;
}

.nav1 ul li a:hover {
  color: red;
}

.nav1 ul li .nav1_a1 {
  color: red;
}

/* 导航2 */
.nav2 {
  width: 164px;
  color: #fff;
  background-color: #ff274e;
  position: absolute;
  left: 0;
  top: 101px;
  text-align: center;
}

.nav2 p {
  width: 164px;
  line-height: 40px;
  height: 40px;
}

.nav2 ul {
  width: 164px;
  height: 501px;
  background-color: #ff274e;
  z-index: 1;
  display: none;
}

.nav2 ul li a {
  display: block;
  height: 40px;
  width: 154px;
  border-bottom: 1px solid #ff5160;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: relative;
}

.nav2 ul li a:hover {
  background-color: #fff;
  color: #ff274e;
}

.nav2 ul li .nav2_ul_a9 {
  border: 0;
}

.nav2 ul li a span {
  display: block;
  height: 16px;
  width: 16px;
  background: url(../images/index8_03.jpg) no-repeat center;
  position: absolute;
  left: 13px;
  top: 12px;
}

.nav2 ul li a b {
  display: block;
  width: 10px;
  height: 16px;
  position: absolute;
  background: url(../images/index9_06.jpg) no-repeat center;
  right: 15px;
  top: 13px;
}

.nav2:hover .nav2_ul {
  display: block;
}

/* 功能选择区 */
.select {
  height: 39px;
  padding-top: 22px;
  border-bottom: 1px solid #ccc;
}

.select h2, .select h3, .select h4, .select h5, .select h6 {
  float: left;
}

.select h3, .select h4, .select h5 {
  border: 1px solid #ccc;
  height: 18px;
  padding-left: 4px;
}

.select span {
  float: left;
}

/* 详细信息区 */
.detali {
  height: 634px;
  background-color: pink;
  padding-top: 38px;
}

.detaliLeft {
  width: 404px;
  height: 634px;
  background-color: green;
  position: relative;
  float: left;
}

.detaliLeft img {
  width: 400px;
  height: 400px;
  margin-bottom: 19px;
}

.detaliLeft01 {
  display: flex;
  justify-content: space-around;
}

.detaliLeft01 img {
  width: 64px;
  height: 64px;
  display: block;
}

.detali .fangdajing {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 420px;
  top: 0;
  overflow: hidden;
  background-color: skyblue;
  display: none;
}

.fangdajing img {
  display: block;
  width: 800px;
  height: 800px;
  position: absolute;
}

.detali .shadow {
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
