.w { width: 1226px; margin: 0 auto; }

body { background: #f5f5f5; }

header { width: 100%; height: 100px; border-bottom: 2px solid #ff6700; color: #424242; background-color: #fff; }
header .w h1 { width: 93px; height: 48px; margin-top: 26px; float: left; }
header .w h1 a { display: block; }
header .w h1 a img { width: 48px; height: 48px; }
header .w h2 { margin-top: 26px; height: 48px; line-height: 48px; font-size: 28px; float: left; }
header .w .topbar-info { float: right; height: 40px; line-height: 40px; margin-top: 30px; }
header .w .topbar-info .longinfrom { font-size: 12px; }
header .w .topbar-info .longinfrom:hover { color: #ff6700; }
header .w .topbar-info .loginUser { height: 40px; line-height: 40px; width: 120px; position: relative; padding: 0; text-align: center; overflow: hidden; }
header .w .topbar-info .loginUser .userName { display: block; }
header .w .topbar-info .loginUser .userName:hover { color: #ff6700; }
header .w .topbar-info .loginUser .iconfont { display: inline-block; font-size: 12px; transform: rotate(90deg); font-weight: bold; }
header .w .topbar-info .loginUser .userInfo { position: absolute; top: 40px; width: 100%; padding: 10px 0; background-color: #fff; z-index: 3; height: 0; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15); }
header .w .topbar-info .loginUser .userInfo p { line-height: 30px; font-size: 12px; color: #888888; height: 0; cursor: pointer; }
header .w .topbar-info .loginUser .userInfo p:hover { color: #ff6700; }
header .w .topbar-info .bgcActive { background-color: #fff; }

.mi-cart { width: 100%; padding-top: 38px; color: #424242; }
.mi-cart .container .cart-goods-list label { width: 18px; height: 18px; margin-left: 24px; margin-right: 15px; }
.mi-cart .container .cart-goods-list label .iconfont { display: inline-block; width: 18px; height: 18px; line-height: 18px; border: 1px solid #e0e0e0; background-color: #fff; color: #fff; font-size: 16px; text-align: center; vertical-align: middle; position: relative; top: -1px; cursor: pointer; }
.mi-cart .container .cart-goods-list label:hover > .iconfont { color: #424242; }
.mi-cart .container .cart-goods-list input:checked ~ label .iconfont { color: #fff; border-color: #ff6700; background-color: #ff6700; }
.mi-cart .container .cart-goods-list .col { float: left; }
.mi-cart .container .cart-goods-list .list-head { user-select: none; background-color: #fff; height: 70px; width: 100%; line-height: 70px; font-size: 14px; }
.mi-cart .container .cart-goods-list .list-head .col { line-height: 70px; }
.mi-cart .container .cart-goods-list .list-head .col-check { height: 100%; width: 110px; }
.mi-cart .container .cart-goods-list .list-head .col-img { width: 110px; }
.mi-cart .container .cart-goods-list .list-head .col-name { width: 380px; }
.mi-cart .container .cart-goods-list .list-head .col-price { width: 140px; padding-right: 18px; text-align: center; }
.mi-cart .container .cart-goods-list .list-head .col-num { width: 150px; text-align: center; }
.mi-cart .container .cart-goods-list .list-head .col-total { width: 120px; padding-right: 81px; text-align: right; }
.mi-cart .container .cart-goods-list .list-head .col-action { width: 80px; text-align: center; }
.mi-cart .container .cart-goods-list .goodsList li { padding: 15px 26px 15px 0; height: 86px; line-height: 86px; background-color: #fff; border-top: 1px solid #e0e0e0; }
.mi-cart .container .cart-goods-list .goodsList li .col-check { height: 100%; width: 110px; }
.mi-cart .container .cart-goods-list .goodsList li .col-img { width: 80px; height: 80px; padding-right: 40px; }
.mi-cart .container .cart-goods-list .goodsList li .col-img img { width: 80px; height: 80px; }
.mi-cart .container .cart-goods-list .goodsList li .col-name { width: 380px; height: 30px; line-height: 20px; padding: 30px 0; }
.mi-cart .container .cart-goods-list .goodsList li .col-name .goodsName { height: 20px; font-size: 18px; }
.mi-cart .container .cart-goods-list .goodsList li .col-price { width: 140px; padding-right: 18px; text-align: center; font-size: 16px; }
.mi-cart .container .cart-goods-list .goodsList li .col-num { width: 150px; text-align: center; height: 80px; line-height: 80px; }
.mi-cart .container .cart-goods-list .goodsList li .col-num .numberChange { border: solid 1px #e0e0e0; height: 38px; line-height: 38px; width: max-content; display: inline-block; vertical-align: middle; font-size: 0; user-select: none; text-align: center; }
.mi-cart .container .cart-goods-list .goodsList li .col-num .numberChange span { display: inline-block; width: 38px; height: 38px; line-height: 38px; vertical-align: middle; cursor: pointer; color: #757575; font-size: 20px; font-weight: bold; }
.mi-cart .container .cart-goods-list .goodsList li .col-num .numberChange span:hover { background-color: #e0e0e0; }
.mi-cart .container .cart-goods-list .goodsList li .col-num .numberChange .goodsNum { box-sizing: border-box; display: inline-block; width: 72px; height: 38px; line-height: 38px; color: #424242; border: 0; vertical-align: middle; text-align: center; outline: none; }
.mi-cart .container .cart-goods-list .goodsList li .col-total { width: 115px; padding-right: 81px; text-align: right; color: #ff6700; font-size: 16px; }
.mi-cart .container .cart-goods-list .goodsList li .col-action { width: 80px; text-align: center; }
.mi-cart .container .cart-goods-list .goodsList li .col-action a { display: inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center; border-radius: 12px; color: #757575; }
.mi-cart .container .cart-goods-list .goodsList li .col-action a .iconfont { font-size: 14px; }
.mi-cart .container .cart-goods-list .goodsList li .col-action a:hover { color: #fff; background-color: #e53935; }
.mi-cart .container .cart-goods-list .cart-bar { color: #333; height: 50px; text-align: right; background-color: #fff; margin-top: 20px; margin-bottom: 30px; }
.mi-cart .container .cart-goods-list .cart-bar .section-left { float: left; height: 50px; line-height: 50px; font-size: 14px; color: #424242; }
.mi-cart .container .cart-goods-list .cart-bar .section-left a { display: block; float: left; padding: 0 24px; position: relative; }
.mi-cart .container .cart-goods-list .cart-bar .section-left a:hover { color: #ff6700; }
.mi-cart .container .cart-goods-list .cart-bar .section-left a::after { content: ""; position: absolute; height: 12px; width: 1px; background-color: #d6d6d6; margin: auto; top: 0; bottom: 0; right: 0; }
.mi-cart .container .cart-goods-list .cart-bar .section-left span { display: block; float: left; margin-left: 15px; }
.mi-cart .container .cart-goods-list .cart-bar .section-right { float: right; }
.mi-cart .container .cart-goods-list .cart-bar .section-right .jiesuan { float: right; display: block; width: 200px; height: 50px; line-height: 50px; font-size: 18px; margin-left: 50px; text-align: center; background: #ff6700; border-color: #ff6700; color: #fff; }
.mi-cart .container .cart-goods-list .cart-bar .section-right .total-all { float: right; text-align: right; padding-left: 13px; color: #ff6700; display: block; line-height: 50px; height: 50px; font-size: 16px; }
.mi-cart .container .cart-goods-list .cart-bar .section-right .total-all span { font-size: 30px; }
.mi-cart .container .empty-cart-top { height: 273px; padding-left: 558px; margin: 65px 0 130px; background: url(../images/cart-empty.png) no-repeat 124px 0; color: #b0b0b0; overflow: hidden; }
.mi-cart .container .empty-cart-top .login-tip { color: #b0b0b0; font-size: 36px; margin: 70px 0 0 0; font-weight: bold; height: 54px; line-height: 54px; }
.mi-cart .container .empty-cart-top .btn-primary { display: inline-block; padding: 0; margin: 0; border: 1px solid #b0b0b0; font-size: 14px; text-align: center; cursor: pointer; transition: all .4s; background: #ff6700; border-color: #ff6700; color: #fff; width: 170px; height: 48px; line-height: 48px; margin-top: 15px; margin-right: 15px; }
.mi-cart .container .empty-cart-top .btn-primary:hover { background-color: #f25807; border-color: #f25807; color: #fff; }

/* footer  s*/
footer .site-footer { background-color: #fff; color: #333; font-size: 14px; }
footer .site-footer .footer-service { padding: 27px 0; border-bottom: 1px solid #e0e0e0; }
footer .site-footer .footer-service .list-service { display: flex; justify-content: space-between; width: 100%; }
footer .site-footer .footer-service .list-service li { color: #616161; width: 19.8%; text-align: center; height: 25px; line-height: 25px; font-size: 16px; }
footer .site-footer .footer-service .list-service li:not(:last-of-type) { border-right: 1px solid #e0e0e0; }
footer .site-footer .footer-service .list-service li a { line-height: 25px; }
footer .site-footer .footer-service .list-service li a .iconfont { font-size: 23px; }
footer .site-footer .footer-service .list-service li a:hover { color: #ff6700; }
footer .site-footer .footer-links { padding: 40px 0; }
footer .site-footer .footer-links .col-links { float: left; width: 160px; }
footer .site-footer .footer-links .col-links dt { margin-bottom: 26px; color: #424242; }
footer .site-footer .footer-links .col-links dd { margin: 10px 0 0; font-size: 12px; height: 18px; line-height: 18px; }
footer .site-footer .footer-links .col-links dd:hover { color: #ff6700; }
footer .site-footer .col-contact { float: right; width: 251px; border-left: 1px solid #e0e0e0; text-align: center; color: #616161; }
footer .site-footer .col-contact .btn { display: inline-block; width: 120px; height: 30px; padding: 0; margin: 0; border: 1px solid #b0b0b0; font-size: 14px; line-height: 30px; text-align: center; color: #b0b0b0; cursor: pointer; -webkit-transition: all .4s; transition: all .4s; }
footer .site-footer .col-contact .btn-line-primary { border-color: #ff6700; background: #fff; color: #ff6700; font-size: 12px; }
footer .site-footer .col-contact .btn-line-primary .icon-kefu { font-size: 12px; }
footer .site-footer .col-contact .btn-line-primary:hover { color: #fff; background-color: #f25807; border-color: #f25807; }
footer .site-footer .col-contact p { margin: 0 0 5px 0; font-size: 12px; }
footer .site-footer .col-contact .phone { font-size: 22px; line-height: 1; color: #ff6700; }
footer .site-footer .col-contact .follow { position: relative; }
footer .site-footer .col-contact .follow .iconfont { font-size: 20px; display: inline-block; width: 30px; cursor: pointer; }
footer .site-footer .col-contact .follow .iconfont:hover { color: #ff6700; }
footer .site-footer .col-contact .follow .icon-weixin:hover ~ img { display: block; }
footer .site-footer .col-contact .follow img { display: none; width: 126px; height: 126px; z-index: 2; position: absolute; top: 20px; left: 100px; }

/* footer  e*/

/*# sourceMappingURL=shoppingcar.css.map */
